<div class="jumbo">
  <h2>About this page</h2>
  <p> This page displays the list of employees and on clicking each name the detailed description of each employee is shown</p>
  {{#link-to "home" class="button"}}
  Home
  {{/link-to}}
</div>
